@media screen and (max-width: 361px) {
  .title {
    font-size: 21.5px;
    text-align: center;
  }

  .text1 {
    font-size: 17px;
  }

  .text2 {
    font-size: 21px;
  }

  .text3 {
    font-size: 15px;
  }
}
