@media screen and (max-width: 551px) {
  .CheckOutWishListPage {
    margin-inline: 10px;
  }

  .padding {
    padding-inline: 10px;
  }

  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
