/*=====================================
Start Import Libraries
=======================================*/
@import "tailwindcss";

@plugin "daisyui";
/*=====================================
Start Import Libraries
=======================================*/
