/*=====================================
Start Import Libraries
=======================================*/
@import "tailwindcss";

@plugin "daisyui";
/*=====================================
Start Import Libraries
=======================================*/

:root {
  --color-textColor1: #d9176c;
}
